name: CI Workshop
on: [push]

jobs:
  build:
    name: Build and test
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4

    - name: Build the C# code
      run: dotnet build

    - name: Run C# tests
      run: dotnet test

    - name: Run Typescript code
      run: npm run build

    - name: Run the linter 
      run: npm run lint

    - name: Run the TypeScript tests
      run: npm t